ul.sticky-color-new li a {
    background: #fcaf09;
}

ul.sticky-color-new li:nth-child(even) a {
    background: #c6dd2a;
}

ul.sticky-color-new li:nth-child(3n) a {
    background: #f8e70c;
}

ul.sticky-color-new li:nth-child(5n) a {
    background: #55c7f0;
}

ul.sticky-color-new li:nth-child(7n) a {
    background: #b788be;
}