@mixin note-style($rotation, $top, $background) {
    -moz-transform: rotate($rotation);
    -ms-transform: rotate($rotation);
    -o-transform: rotate($rotation);
    -webkit-transform: rotate($rotation);
    background: $background;
    position: relative;
    @if($top != 0) {
        top: $top;
    }
    transform: rotate($rotation);
}