$color1: if($useClassic == true, $classic_color1, $new_color1);
$color2: if($useClassic == true, $classic_color2, $new_color2);
$color3: if($useClassic == true, $classic_color3, $new_color3);
$color4: if($useClassic == true, $classic_color4, $new_color4);
$color5: if($useClassic == true, $classic_color5, $new_color5);
* {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

ul.sticky-notes {
    overflow: hidden;
    padding: 1.5em;

    li {
        float: left;
        list-style: none;
        margin: 1em;

        a {
            -moz-box-shadow: 5px 5px 7px rgba(33,33,33,1);
            -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            -moz-transform: rotate(-6deg);
            -ms-transform: rotate(-6deg);
            -o-transform: rotate(-6deg);
            -webkit-transform: rotate(-6deg);
            -moz-transition: -moz-transform .15s linear;
            -o-transition: -o-transform .15s linear;
            -webkit-transition: -webkit-transform .15s linear;            
            background: $color1;
            box-shadow: 5px 5px 7px rgba(33,33,33,.7);
            color: #000;
            display: block;
            height: 9em;
            padding: 0.5em;
            position: relative;
            text-decoration: none;
            transform: rotate(-6deg);
            transition: transform .15s linear;
            width: 9em;
        }
        
        &:nth-child(even) a {
            @include note-style(4deg, 5px, $color2);
        }

        &:nth-child(3n) a {
            @include note-style(-3deg, -5px, $color3);
        }

        &:nth-child(5n) a {
            @include note-style(5deg, -10px, $color4);
        }
        
        &:nth-child(7n) a {
            background: $color5;
        }
        
        a:focus,
        a:hover {
            -moz-box-shadow: 8px px 5px rgba(0,0,0,.7);
            -webkit-box-shadow: 8px 8px 5px rgba(0,0,0,.7);
            -moz-transform: scale(1.25);
            -ms-transform: scale(1.25);
            -o-transform: scale(1.25);
            -webkit-transform: scale(1.25);
            box-shadow: 8px 8px 5px rgba(0,0,0,.7);
            position: relative;
            transform: scale(1.25);
            z-index: 5;
        }
        
        p,
        h2 {
            font-family: beanie-sans, "Comic Sans MS", cursive, sans-serif;
            font-size: 160%;
            font-weight: normal;
        }

        h2 {
            text-decoration: underline;
        }
        
        h2.small {
            font-size: 150%;
        }
        
        p.small {
            font-size: 140%;
        }

        p.smaller {
            font-size: 125%;
        }
        
        p.small-askew {
            font-size: 80%;
            margin-top: 10px;
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
        }
    }
}